# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.env
.env.*
instance/
*.sqlite*
*.db

# Virtual env
venv/
ENV/
.env/
.venv/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/

# Node/Frontend
node_modules/
dist/
build/

# Cache

.cache/

# Backups
*.bak
